@import url('https://fonts.googleapis.com/css?family=Ubuntu');




 .FormTitle {
    color: #3c91e6;
    font-size: 40px;
    font-family: "Ubuntu";
}

.App {
  
  
    padding: 10px;
   
}





 .logoPic {
    height: 100px;
    background-color: #ffffff;
    border-radius: 50px;
}

.middle {
    align-content: center;
    border-radius: 25px;
    width: 65%;
    background-color: #ffffff;
    height: 25px;

}

.loginMiddle{

    align-content: center;
    border-radius: 25px;
    width: 65%;
    background-color: #ffffff;
    height: 50px;

}

.loginButton{

    color: #ffffff;
    background-color:  #3c91e6;
    align-content: center;
    border-radius: 25px;
    height: 65px;
    width: 50%;
    font-size: 40px;

}

.button{
    color: #ffffff;
    background-color:  #3c91e6;
    align-content: center;
    border-radius: 25px;
    height: 45px;
    width: 50%;
    font-size: 20px;
}

    .splitForm {
     
        border-radius: 25px;
       
        margin: 25px;
        background-color: #fa824c;
        width:350px;
        padding-top: 10px;
        
        color: white;
        float: left;
        width: 45%;
        height: 800px;
    }
    

.container {
   
    width: 90%;
    height: auto;
    margin: auto;
    font-size: 16px;
    font-weight: 400;
    font-family: Ubuntu;
}


