@import url('https://fonts.googleapis.com/css?family=Ubuntu');


.FormTitle {
    color: #3c91e6;
    font-size: 40px;
    font-family: "Ubuntu";
}

.App {
    color: #ffffff;
    background-color: #fa824c;
    font-family: "Ubuntu";
    width: 350px;
    margin: auto;
    border-style: solid;
    text-align: center;
    border-radius: 50px;
   
}

.align {
    text-align: center;
    font-size: 15px;
}

.div {
    align-items: center;
}

.logoPic {
    height: 100px;
    background-color: #ffffff;
    border-radius: 50px;
}

.middle {
    align-content: center;
    border-radius: 25px;
}
